<?xml version='1.0' encoding='utf-8'?>
<widget id="com.giotino.uni.QuineMcCluskey" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quine McCluskey</name>
    <description>
        Una piccola implementazione dell'algoritmo di Quine McCluskey
    </description>
    <author email="giovanni@minotti.net" href="http://uni.giotino.com">
        Giotino's UniHub
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="portrait" />
    <icon src="icon.png" />
    <engine name="android" spec="~5.2.2" />
    <engine name="ios" spec="~4.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
</widget>
